html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
  margin-top: 70px; 
}

nav {
  background: #713aae;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.logo {
  height: 100px; 
  width: auto;
}


/* Footer */
footer {
  background-color: #713aae;
  color: white;
  text-align: center;
  padding: 20px 00;

}


.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

a {
    text-decoration: none;
    font-size: 17px;
}
i {
    font-size: 25px;
}

/* Estilo top5 */
.card-img-top{
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    height: 200px;      
    object-fit: cover;
}
.card{
    border-radius: 30px;
    height: 100%;
    box-shadow: #713aae 0px 7px 29px 0px;;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}

.btn-primary{
    background: #713aae;
} 

/* Efectos a las cards https://getcssscan.com/css-box-shadow-examples  */


/*Estilos luselly*/
.bg-body-secondary{
    background-color: rgb(234, 232, 239) !important;
}

.p-4{
    padding: 10px 30px !important;
}
.btn-primary{
    background: #713aae;
}

.btn-primary:hover{
    background: #1e1e1f;
    cursor: pointer;
    
}

.textobut{
    width: 50%;
    
}
.my-3{
    width: 500px;
    
}

.musicaText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.musicaText img{
    width: 300px;
    max-width: 100%;
}

audio{
  filter: invert(1);;
}

.px-0{
    display: block;
}